<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.recommenders.completion.rcp.sessionprocessors">
      <processor
            class="org.eclipse.recommenders.sandbox.rcp.StaticSessionProcessor"
            description="Experimental"
            icon="icons/elcl16/category.gif"
            id="org.eclipse.recommenders.sandbox.rcp.sessionprocessors.staticmembers"
            name="Static Members">
      </processor>
   </extension>


</plugin>
