<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.recommenders.completion.rcp.sessionprocessors">
      <processor
            class="org.eclipse.recommenders.internal.sandbox.rcp.RecommendersBaseRelevanceSessionProcessor"
            description="Requires Sorter to be set"
            icon="icons/obj16/bullet_red.png"
            id="org.eclipse.recommenders.subwords.rcp.relevanceprocessor"
            name="Recommenders Base Relevance Processor">
      </processor>
   </extension>
      <extension
            point="org.eclipse.jdt.ui.javaCompletionProposalSorters">
         <proposalSorter
               class="org.eclipse.recommenders.internal.sandbox.rcp.ProposalSorter"
               id="org.eclipse.recommenders.completion.rcp.proposalSorter"
               name="by Recommenders (experimental!)">
         </proposalSorter>
      </extension>
      <extension
            point="org.eclipse.recommenders.injection.modules">
         <module
               class="org.eclipse.recommenders.internal.sandbox.rcp.SandboxRcpModule">
         </module>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               category="org.eclipse.recommenders.completion.rcp.preferences"
               class="org.eclipse.recommenders.internal.sandbox.rcp.SorterPreferencePage"
               id="org.eclipse.recommenders.sandbox.rcp.page1"
               name="Proposal Sorter">
         </page>
      </extension>
      <extension
            point="org.eclipse.equinox.preferences.preferences">
         <initializer
               class="org.eclipse.recommenders.internal.sandbox.rcp.PreferenceInitializer">
         </initializer>
      </extension>


</plugin>
