[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	create = group technology.recommenders
	forgeAuthor = group technology.recommenders
	push = group technology.recommenders
	label-Code-Review = -2..+2 group technology.recommenders
	label-IP-Clean = -1..+1 group technology.recommenders
	label-Verified = -1..+1 group technology.recommenders
	submit = group technology.recommenders
[access "refs/tags/*"]
	pushTag = group technology.recommenders
