[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	create = group ldap/technology.recommenders
	forgeAuthor = group ldap/technology.recommenders
	push = group ldap/technology.recommenders
	label-Code-Review = -2..+2 group ldap/technology.recommenders
	label-IP-Clean = -1..+1 group ldap/technology.recommenders
	label-Verified = -1..+1 group ldap/technology.recommenders
	submit = group ldap/technology.recommenders
	abandon = group ldap/technology.recommenders
	pushMerge = group ldap/technology.recommenders
[access "refs/tags/*"]
	create = group ldap/technology.recommenders
	push = group ldap/technology.recommenders
	createTag = group ldap/technology.recommenders
	createSignedTag = group ldap/technology.recommenders
[project]
	description = Eclipse Code Recommenders
[access]
	inheritFrom = permissions/recommenders-dev
