<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.recommenders.completion.rcp.sessionprocessors">
		<processor
        class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.subwords.rcp.SubwordsSessionProcessor"
        description="%sessionprocessors.subwords.description"
        enabledByDefault="false"
        icon="icons/obj16/Aa.png"
        id="org.eclipse.recommenders.subwords.rcp.sessionprocessors.subwords"
        name="%sessionprocessors.subwords.name"
        preferencePage="org.eclipse.recommenders.subwords.rcp.preferencePages.subwords"
        priority="-100">
		</processor>
	</extension>
	<extension point="org.eclipse.recommenders.completion.rcp.tips">
		<proposal id="org.eclipse.recommenders.subwords.rcp.tips.enableSubwords"
			class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.subwords.rcp.EnableSubwordsCompletionProposal"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page id="org.eclipse.recommenders.subwords.rcp.preferencePages.subwords"
			category="org.eclipse.recommenders.completion.rcp.preferencePages.completions"
			class="org.eclipse.recommenders.internal.subwords.rcp.SubwordsPreferencePage"
			name="%preferencePages.subwords.name"/>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.eclipse.recommenders.internal.subwords.rcp.SubwordsRcpPreferenceInitializer"/>
	</extension>
	<extension point="org.eclipse.recommenders.injection.modules">
		<module class="org.eclipse.recommenders.internal.subwords.rcp.SubwordsRcpModule"/>
	</extension>
</plugin>
